<!-- -*- mode: XML -*- -->
<!-- run velodyne_pointcloud/CloudNodelet in a nodelet manager for an HDL-32E

     arg: calibration = path to calibration file (default: standard 32db.yaml)
          pcap = path to packet capture file (default: use real device)

     $Id$
  -->

<launch>

  <!-- declare arguments with default values -->

<group ns="velodyne64">
  <!-- declare arguments with default values -->
  <arg name="pcap" default="" />
  <arg name="calibration" default="$(find velodyne_pointcloud)/params/64e_s2.yaml"/>
  <arg name="port" default="2368"/>
  <arg name="rpm" default="600.0" />
  <arg name="min_range" default="3.0"/>
  <arg name="max_range" default="10.0"/>
  <!-- start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/nodelet_manager64.launch">
    <arg name="frame_id" 	value="velodyne64"/>
    <arg name="model" 		value="64E_S2.1"/>
    <arg name="pcap" 		value="$(arg pcap)"/>
    <arg name="port" 		value="$(arg port)"/>
    <arg name="rpm" 		value="$(arg rpm)"/>
    <arg name="min_range" 	value="$(arg min_range)" />
    <arg name="max_range" 	value="$(arg max_range)" />
  </include>

  <!-- start cloud nodelet -->
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet64.launch">
    <arg name="calibration" value="$(arg calibration)"/>
  </include>
</group>

</launch>
